h1{
    text-align: center;
    margin-top: 75px;
}

form{
    text-align: center;
}

body{
  background-image: url("https://i.pinimg.com/originals/a1/86/a8/a186a8aff83506c70b0b307e3fb062c8.png");
  background-size: cover;
}

input[type=text]{
    width: 25rem;
    height: 2.5rem;
    outline: none;
}


.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
  }
  
  .cardContainer li{  
    list-style-type: none;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: black;
    padding: 20px;
    width: calc(15% - 1px);
    margin-bottom: 20px; 
    text-align: center;
    height: 13rem;
    text-align: left;
  }

  .cardContainer li:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 1s ease;
  }
  
  .cardContainer:hover li:not(:hover) {
    filter: blur(4px);
  }
  