h1{
    text-align: center;
    margin-top: 75px;
}

form{
    text-align: center;

}
input[type=text]{
    width: 25rem;
    height: 2.5rem;
    outline: none;
}


.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
  }
  
  .pokemonCard {
    list-style-type: none;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: black;
    padding: 20px;
    width: calc(15% - 1px);
    margin-bottom: 20px; 
    text-align: center;
    height: 15rem;
  }

  .pokemonCard:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 1s ease;
  }
  
  